.App {
  text-align: center;
}
.image-item {
  width: 150px;
  height: 150px;
  text-align: center;
}
.nav {
  display: inline;
  padding: 20px;
}
.nav-item {
  padding: 20px;
  padding: 10px;
  margin: 20px;
}
.globe {
  font-size: larger;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.update-btn {
  margin: 4px;
  background-color: #61dafb;
  border-radius: 4px;
  padding: 4px;
}
.create-btn {
  margin-right: 100px;
  background-color: green;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.read-btn {
  background-color: purple;
  color: white;
  margin: 4px;;
  border-radius: 4px;
  padding: 4px;
}
.add-user-btn {
  margin-right: 10px;
}
.user-detail {
  padding-top: 2px;
}
.magin-botton {
  margin-bottom: 8px;
}
.img-width-logo {
  width: 250px;
  height: 80px;
}
.font-weight {
  font-weight: 600;
}
.search-input {
  border: 2px solid black;
}
.padding-bottom {
  padding-bottom: 10px;
}
.logo-width {
  width: 150px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: -25px;
}
.padding-select {
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  padding-bottom: 7px;
  border-radius: 4px;
  border: 2px solid black;
}
.input-padding {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px;
  border: 2px solid black;
}
.but-mar {
  margin-top: 12px;
  margin-left: 8px;
}
.delete-btn {
  margin: 4px;
  background-color: #cf555c;
  border-radius: 4px;
  padding: 4px;
  color:#ffffff
}
.label-width {
  width: 150px; 
}
.input-search {
  margin-top: 10px;
  margin-left: 10px;
}
.table-margin {
  margin-top: 20px;
}
.loader-view {
  margin-top: 15%;
}
.create-update-dialog {
  margin-top: 5%;
  box-shadow: 5px 5px 5px 5px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.input-field {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}
.error-message {
  color : red;
  padding: 2px;
  margin: 2px;
}
.under-line {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
